body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white; /*fondo oscuro exterior */
}
/* CONTENEDOR PRINCIPAL */
.container {
    width: 1100px;
    margin: 0 auto;
    background-color: #F70); /* naranja en vez de blanco */
    padding: 40px 60px;
    box-sizing: border-box;
}

/* NAV */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left, .right {
    display: flex;
    gap: 100px;
}

nav a {
    text-decoration: none;
    color: black;
    font-style: italic;
    font-weight: 500;
}

nav a:hover{
    color: #F70;
}

.center {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

/* REEL */
.photo-section {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.photo-box {
    position: relative;
    border: 12px solid red;
    max-width: 700px;
}

.photo-box img {
    width: 100%;
    display: block;
}

.outer-box {
    padding: 10px;
    background-color: #F70;

}
/* FRASES */
.hero {
    display: flex;        
    flex-direction: row;  
    align-items: center;   /* los alinea verticalmente */
    gap: 40px;
}
.text-box {
    margin-right: 0;
    width: 220px;
}
.side-text {
    width: 200px;
    text-align: right;  /* opcional, para que mire hacia la imagen */
}
.side-text div {
    width: 200px;
    text-align: center;
}

.reel-box {
    border: 12px solid red;
}

.reel-box img {
    width: 600px;
    display: block;
}

.highlight {
    background-color: rgb(255, 140, 0);
    padding: 4px 8px;
    font-weight: bold;
}
.about-section {  /*desde aquí va todo lo de Liz Zhunaula */
    display: flex;
    justify-content: center;   /* centra todo el bloque */
    align-items: center;       /* alinea verticalmente */
    gap: 60px;                 /* espacio entre texto e imagen */
    padding: 80px;
}

.about-text {
    width: 400px;
    text-align: right;
}

.about-image img {
    width: 300px;
    height: auto;
}